/* =============== */
/* NAVIGATION SECTION */
/* =============== */
.navbar{
    opacity: 0.7
}
#main{
    color: white
}
#main:hover{
    color: black;
    transition: all 1s
}
/* =============== */
/* HEADER SECTION */
/* =============== */
.carousel-inner img{
    height: 85vh
}
.carousel-item .carousel-caption{
    margin-bottom: 200px;
    margin-top: 200px;

}